.about-us {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $text-black;
}

.about-us__title {
  @include h2_style;
  margin: 32px 0 0 30px;
  padding: 0;
}

.about-us__list {
  @include ul_style;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.about-us__item {
  margin-top: 30px;
  width: 250px;
}

.about-us__description {
  @include zero_offset;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 100%;
    padding: 60px 50px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;

    @include zero_offset;
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include zero_offset;
  }

  .about-us__item {
    margin-top: 100px;
    padding-right: 40px;
    width: 50%;
    box-sizing: border-box;
  }

  .about-us__item--eco {
    order: -5;
  }

  .about-us__item--price {
    order: -3;
  }

  .about-us__item--like {
    order: -1;
  }

  .about-us__item--hand {
    order: -4;
  }

  .about-us__item--domestic {
    order: -2;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    max-width: 1150px;
    padding: 60px 225px;
  }
}
