.actual-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .actual-list {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -42px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .actual-list__item {
    text-align: left;
    box-shadow: none;

    @include zero-offset;
    padding-right: 61px;

    a {
      font-size: 15px;
      font-weight: bold;
      line-height: 24px;
      color: $text-black;
    }

    a[href] {
      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.6);
      }

      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
