.actual-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .actual-list {
    position: absolute;
    left: 0;
    top: 100px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .actual-list__item {
    text-align: left;
    box-shadow: none;

    @include zero-offset;
    padding-right: 60px;

    a {
      font-size: 15px;
      font-weight: bold;
      line-height: 24px;
      color: $text-black;
    }
  }
}
