.button {
  display: block;
  width: 256px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: $text-grey;
  text-transform: uppercase;
  background-color: $bg-white;
  border: 2px solid $text-grey;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
