.button {
  display: block;
  width: 256px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: $text-grey;
  text-transform: uppercase;
  background-color: $bg-white;
  border: 2px solid $text-grey;
}
