.catalog {
  width: 100%;
  margin: 0 auto;
}

.catalog__header {
  background-color: $bg-grey;
  margin: 0;
  padding: 72px 0 76px 0;
  text-align: center;
}

.catalog__title {
  @include h2_style;
  font-size: 27px;
}

.catalog__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.catalog__list {
  @include ul_style;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog__item {
  width: 81%;
  margin-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.catalog__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 27px 26px 10px 27px;
  border: solid 1px #ececec;
}

.catalog__name {
  @include h3_style;
  font-size: 17px;
  line-height: 24px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__size {
  @include zero_offset;
  font-size: 13px;
  line-height: 42px;
}

.catalog__bottom {
  margin: 35px 0 15px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.catalog__bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: -22px;
  left: 0;
  background-color: #e5e5e5;
}

.catalog__price {
  @include zero_offset;
  margin-right: auto;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: $text-black;
}

.catalog__cart-icon {
  width: 20px;
  height: 19px;
  opacity: 0.2;
  fill: #000000;


  &:hover,
  &:focus {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog__header {
    padding: 95px 0 85px 0;
    position: relative;
  }

  .catalog__header::after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: -7px;
    left: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat;
    background-size: contain;
    background-position: 0 0;
  }

  .catalog__title {
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__wrapper {
    width: auto;
    margin-top: 20px;
    margin-bottom: 53px;
    padding: 0 6.5%;
  }

  .catalog__item {
    width: 100%;
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .catalog__link-image {
    width: 50%;
  }

  .catalog__description {
    width: 50%;
    flex-grow: 1;
    margin: 0;
    padding-top: 25px;
    justify-content: flex-start;
  }

  .catalog__name {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__size {
    font-size: 15px;
    line-height: 43px;
    margin-bottom: auto;
  }

  .catalog__bottom {
    margin-bottom: 15px;
    padding: 0 5px 0 5px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__header {
    padding: 93px 0 115px 0;
  }

  .catalog__header::after {
    height: 34px;
  }

  .catalog__title {
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__wrapper {
    max-width: 1150px;
    margin-top: 63px;
    margin-bottom: 58px;
    padding: 0 50px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .catalog__item {
    width: 316px;
    margin-right: 50px;
    flex-direction: column;
    align-items: stretch;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
  }

  .catalog__link-image {
    width: 100%;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__description {
    width: auto;
  }

  .catalog__bottom {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 5px 0 0;
  }
}
