.contacts {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  @include h2_style;
  margin: 0 9%;
  padding: 35px 0 26px 0;
  font-size: 18px;
}

.contacts__table {
  margin: 0 9% 38px 9%;
  border-collapse: collapse;
  text-align: left;
  line-height: 30px;

  tr {
    height: 60px;
    vertical-align: top;
  }
}

.contacts__field {
  width: 75px;
}

.contacts__email {
  padding-bottom: 3px;
  border-bottom: 1px solid #63d1bb;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(99, 209, 187, 0.1);
  }
}

.contacts__map {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.contacts__map-online {
  width: 100%;
  height: 457px;
  margin: 0 auto;
  position: relative;
}

.contacts__map-image {
  width: 320px;
  height: 457px;
}

.contacts__write {
  box-sizing: border-box;
  width: auto;
  margin: 37px 9%;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 27px 0 55px 0;
  }

  .contacts::after {
    content: "";
    width: 47px;
    height: 81px;
    position: absolute;
    top: 13px;
    right: 6.6%;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }


  .contacts__title {
    margin-left: 6.3%;
    padding: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__table {
    margin: 48px 6.5% 87px 6.5%;
    width: 635px;
    font-size: 17px;

    tbody {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .contacts__map {
    margin-bottom: 54px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    max-width: 1150px;
    padding: 38px 50px 0 50px;
    margin-bottom: 60px;
  }

  .contacts::after {
    top: 100px;
    right: 990px;
  }

  .contacts__title {
    margin-left: 169px;
    margin-top: 70px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__table {
    margin: 48px 0 68px 173px;

    tbody {
      flex-direction: column;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    position: absolute;
    bottom: -10px;
    right: 50px;
  }

  .contacts__map-image {
    width: 525px;
    height: 457px;
  }

  .contacts__write {
    margin: 41px 0 43px 175px;
  }
}
