.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  margin: 25px auto;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
}

.copyright__item {
  margin: 0 15px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    margin-right: 50px;
  }
}
