.filter-customer__title {
  @include zero-offset;
  margin-top: 30px;
}

.filter-customer__name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: $text-black;
}

.filter-customer__label {
  margin-top: 25px;
}

.filter-customer__input {
  line-height: 50px;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
}
