.filter {
  width: 100%;
  margin: 0 auto;
}

.filter__header {
  background-color: $bg-grey;
  margin-bottom: 23px;
  padding: 72px 0 75px 0;
  text-align: center;
}

.filter__title {
  @include h2_style;
  font-size: 27px;
}

.filter__description {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 9.5%;
  font-size: 13px;
}

.filter__form {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 9%;
}

.filter__fieldset {
  @include fieldset_style;
  width: 100%;
  margin: 0 auto;
}

.filter__wrapper {
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.filter__max {
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter__legend {
  position: relative;
  margin-top: 24px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $text-blue;
}

.filter__legend::before {
  content: "";
  width: 76%;
  height: 1px;
  position: absolute;
  top: 8px;
  right: 0;
  background-color: #63d1bb;
}

.filter__list {
  @include ul_style;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4px 0 25px 24%;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: $text-black;
}

.filter__footer {
  width: auto;
  margin: 0 auto;
  margin-bottom: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}

.filter__note {
  margin-left: -1px;

  sup {
    top: -0.26em;
    font-size: 90%;
  }
}

.filter__button {
  width: 100%;
  margin: 30px auto;
}

@media (min-width: $tablet-width) {
  .filter__header {
    margin-bottom: 74px;
    padding: 93px 0 80px 0;
    position: relative;
  }

  .filter__header::after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat;
    background-size: contain;
    background-position: 0 0;
  }

  .filter__title {
    font-size: 43px;
    line-height: 50px;
  }

  .filter__description {
    width: auto;
    padding: 0 6.5%;
    margin-bottom: 7px;
    font-size: 17px;
    line-height: 30px;
  }

  .filter__form {
    width: 100%;
    padding: 0;
  }

  .filter__fieldset {
    &--bg-grey {
      background-color: $bg-grey;
    }
  }

  .filter__max {
    padding: 0 6.5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .filter__wrapper {
    &--bg-grey {
      background-color: $bg-grey;
    }
  }

  .filter__legend {
    margin: 0;
  }

  .filter__legend::before {
    display: none;
  }

  .filter__list {
    margin-left: 210px;
    font-size: 19px;
  }

  .filter__footer {
    margin-bottom: 0;
    padding: 52px 6.6% 49px 6.6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    font-size: 17px;
  }

  .filter__button {
    order: -1;
    margin: 0;
    width: 34.3%;
    font-size: 17px;
  }

  .filter__note {
    margin-right: -3px;
  }
}

@media (min-width: $desktop-width) {
  .filter__header {
    margin-bottom: 120px;
    padding-top: 94px;
    padding-bottom: 105px;
  }

  .filter__header::after {
    height: 34px;
    background-position: -13px 0;
  }

  .filter__title {
    font-size: 53px;
    line-height: 57px;
  }

  .filter__description {
    max-width: 1150px;
    margin-bottom: 53px;
    padding: 0 225px;
  }

  .filter__max {
    max-width: 1150px;
    padding: 0 112px;
  }

  .filter__list {
    margin-left: 155px;
  }

  .filter__footer {
    max-width: 1150px;
    padding: 48px 225px 49px 225px;
  }

  .filter__button {
    width: 230px;
  }
}
