.filter-type__item {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .filter-type {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .filter-type {
    margin-bottom: 10px;
  }

  .filter-type__item {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
