.logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo {
    display: block;
    margin-left: 50px;
    margin-right: 80px;
  }

  .logo__image {
    width: 102px;
    height: 34px;
  }
}
