.main-nav {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.main-nav__toggle {
  width: 21px;
  height: 14px;
  position: absolute;
  top: -47px;
  right: 40px;
}

.main-nav__list {
  @include ul_style;
}

.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    padding: 0 50px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
    background: transparent;
  }

  .main-nav__delivery {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;

    @include zero-offset;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1150px;
  }
}
