.main-nav {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.main-nav__wrapper {
  width: auto;
}

.main-nav__list {
  @include ul_style;
}

.main-nav__toggle {
  width: 21px;
  height: 14px;
  position: absolute;
  top: -51px;
  right: 9.5%;
  z-index: 2;
  display: block;
  background-color: $bg-white;
  border: none;
  cursor: pointer;
}

.main-nav--closed {
  .main-nav__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #000000;
      box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
    }

    &:hover::before,
    &:focus::before {
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.6), 0 12px 0 0 rgba(0, 0, 0, 0.6);
    }

    &:active::before {
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3), 0 12px 0 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.main-nav--opened {
  .main-nav__toggle {
    height: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -4px;
      width: 29px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed {
    .site-list__item {
      display: none;
    }

    .user-list__item {
      display: none;
    }
  }

  .main-nav__delivery {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .user-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    padding: 0 6.5%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
    background: transparent;
  }

  .main-nav__delivery {
    display: block;
    position: absolute;
    right: 0;
    bottom: -42px;
    z-index: 10;

    @include zero-offset;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    max-width: 1150px;
    padding: 0 50px;
  }
}
