.modal-hide {
  display: none;
}

.modal-show {
  display: block;
}

.modal-cart {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-cart__wrapper {
  box-sizing: border-box;
  width: 320px;
  height: 336px;
  padding: 30px 30px 18px 30px;
  margin: 50vh auto;
  transform: translateY(-50%);
  text-align: center;
  background-color: $bg-white;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: 1 px solid #c6c6c6;
}

.modal-cart__title {
  @include h2_style;
  width: 150px;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal-cart__text {
  @include zero-offset;
  margin-top: 13px;
  font-size: 15px;
  line-height: 30px;
}

.modal-cart__list {
  @include ul_style;
  margin: 23px auto 31px auto;
  width: 260px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-cart__size {
  display: block;
  box-sizing: border-box;
  width: 80px;
  margin: 0;
  padding: 16px 0;
  border: 2px solid rgba(#444444, 0.1);
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  &:hover,
  &:focus {
    border: 2px solid rgba(#444444, 0.3);
  }
}

.modal-cart__checkbox:checked + .modal-cart__size {
  border: 2px solid #62d1ba;
}

.modal-cart__button {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #63d1bb;
  border: none;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal-cart__wrapper {
    width: 566px;
    padding: 33px 100px;
  }

  .modal-cart__title {
    width: auto;
    margin: 0 auto;
    font-size: 30px;
    line-height: 57px;
  }

  .modal-cart__text {
    font-size: 17px;
    line-height: 30px;
  }

  .modal-cart__list {
    width: 350px;
  }

  .modal-cart__size {
    width: 114px;
  }

  .modal-cart__button {
    width: 350px;
  }
}
