.page-footer {
  width: 100%;
  background-color: $bg-grey;
}

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    padding: 45px 6.6%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    max-width: 1150px;
    padding: 43px 51px;
  }
}
