.page-header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 22px auto;
  text-align: center;
}

.page-header__logo-image {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 1px 0 0 #ececec;
  }

  .page-header__logo {
    display: block;
    position: absolute;
    margin: 0;
    top: 22px;
    left: 50px;
    z-index: 3;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
