.product-week {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.product-week__wrapper {
  margin: 0;
  padding: 35px 30px;
}

.product-week__title {
  @include h3_style;
  text-align: left;
}

.product-week__name {
  @include zero-offset;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb;
}

.product-week__text {
  @include zero-offset;
}

.product-week__properties {
  margin: 30px 0;
  border-collapse: collapse;
  width: 260px;
  text-align: left;

  tr {
    height: 40px;
    vertical-align: middle;
    border-bottom: 1px solid black;
  }
}

.product-week__image {
  width: 260px;
  height: 315px;
}

.product-week__price {
  margin: 30px auto;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: $text-grey;
}

@media (min-width: $tablet-width) {
  .product-week {
    width: 100%;
  }

  .product-week__wrapper {
    width: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .product-week__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__name {
    width: 70px;
    margin: 10px 30px;
    text-align: center;
  }

  .product-week__description {
    position: relative;
    width: 100%;
  }

  .product-week__text {
    font-size: 17px;
    line-height: 30px;
  }

  .product-week__properties {
    width: 290px;
  }

  .product-week__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 333px;
    height: 404px;
  }

  .product-week__price {
    width: 290px;
    margin: 55px 0 30px 0;
    font-size: 20px;
  }

  .product-week__cart {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    max-width: 1150px;
  }

  .product-week__wrapper {
    padding-top: 110px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .product-week__title {
    margin-left: 20px;
    margin-bottom: 60px;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__name {
    margin: 10px 40px;
  }

  .product-week__description {
    margin-left: 175px;
  }

  .product-week__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 525px;
    height: 636px;
  }

  .product-week__price {
    margin: 110px 0 30px 0;
  }
}
