.product-week {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.product-week__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 29px 9.5% 40px 9.6%;
  box-sizing: border-box;
  position: relative;
}

.product-week__wrapper::after {
  content: "";
  width: 100%;
  height: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat;
  background-size: contain;
  background-position: 23px 0;
}

.product-week__title {
  @include h3_style;
  text-align: left;
  margin-bottom: 4px;
}

.product-week__name {
  @include zero-offset;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb;
}

.product-week__text {
  width: auto;

  @include zero-offset;
}

.product-week__properties {
  margin: 17px 0 28px 0;
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  tr {
    height: 40px;
    vertical-align: middle;
    border-bottom: 1px solid black;
  }
}

.product-week__field {
  width: 93px;
}

.product-week__image {
  width: 100%;
  height: auto;
}

.product-week__price {
  margin: 18px auto 26px auto;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: $text-grey;
}

.product-week__cart {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product-week__wrapper {
    padding: 43px 6.7% 67px 6.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .product-week__wrapper::after {
    height: 15px;
  }

  .product-week__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__name {
    width: 10%;
    margin: 10px 30px;
    text-align: center;
    line-height: 18px;
  }

  .product-week__description {
    position: relative;
    width: 100%;
  }

  .product-week__text {
    width: 43%;
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-week__properties {
    width: 43%;
  }

  .product-week__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 333px;
    height: auto;
  }

  .product-week__price {
    width: 43%;
    margin: 55px 0 34px 0;
    font-size: 20px;
  }

  .product-week__cart {
    width: 44%;
  }
}

@media (min-width: $desktop-width) {
  .product-week__wrapper {
    max-width: 1150px;
    padding: 122px 50px 95px 50px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .product-week__wrapper::after {
    width: 1050px;
    margin: 0 50px;
    height: 23px;
    background-size: 1050px 100%;
    background-position: 20px 0;
  }

  .product-week__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__name {
    margin: 15px 32px;
  }

  .product-week__description {
    margin-left: 174px;
  }

  .product-week__text {
    width: 33%;
    margin-bottom: 48px;
  }

  .product-week__properties {
    width: 33%;
  }

  .product-week__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 525px;
    height: 636px;
  }

  .product-week__price {
    width: 33%;
    margin: 110px 0 33px 0;
  }

  .product-week__cart {
    width: 33%;
  }
}
