.production {
  width: 100%;
  margin: 0 auto;
}

.production__wrapper {
  width: 260px;
  margin: 30px auto;
  margin-bottom: 55px;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #ececec;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.production__title {
  @include h2_style;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 26px 91px;
}

.production__video {
  position: relative;
  width: 100%;

  video {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.production__poster {
  margin: 0 auto;
}

.production__image {
  width: 260px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

.production__play {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-top: -39px;
  margin-left: -50px;
}

.production__description {
  font-size: 13px;
  margin: 30px 34px;
}

.production__cart {
  width: 192px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    width: auto;
    margin: 0 50px 50px 50px;
    padding: 0;
    padding-bottom: 40px;
  }

  .production__title {
    font-size: 20px;
    margin: 40px 0 0 100px;
  }

  .production__video {
    order: -1;
  }

  .production__image {
    width: 668px;
    height: 455px;
  }

  .production__description {
    font-size: 15px;
    margin: 40px 47px;
  }

  .production__cart {
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    max-width: 1150px;
  }

  .production__wrapper {
    margin: 0 50px 100px 50px;
    padding: 0;
    padding-left: 680px;
    min-height: 455px;
  }

  .production__title {
    margin: 100px 70px 40px 70px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 682px;
  }

  .production__image {
    width: 682px;
    height: 455px;
  }

  .production__description {
    margin: 10px 70px;
  }

  .production__cart {
    width: 230px;
    margin: 40px 70px;
  }
}
