.production {
  width: 100%;
  margin: 0 auto;
}

.production__wrapper {
  width: 81%;
  margin: 30px auto;
  margin-bottom: 57px;
  padding: 23px 0 33px 0;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #ececec;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__header {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.production__icon-video {
  width: 36px;
  height: 37px;
  margin-left: 13%;
  margin-bottom: 5px;
  fill: #63d1bb;
}

.production__title {
  @include h2_style;
  font-size: 17px;
  line-height: 24px;
  margin-left: 10%;
}

.production__video {
  position: relative;
  width: 100%;

  video {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.production__poster {
  margin: 0 auto;
}

.production__image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.production__play {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-top: -39px;
  margin-left: -50px;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__description {
  width: 74%;
  font-size: 13px;
  margin: 28px auto 25px auto;
}

.production__cart {
  width: 74%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    width: auto;
    margin: 0 6.4% 62px 6.45%;
    padding: 0;
    padding-bottom: 44px;
  }

  .production__header {
    margin: 28px 0 0 5.6%;
  }

  .production__icon-video {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .production__title {
    font-size: 20px;
    margin-left: 5%;
  }

  .production__video {
    order: -1;
  }

  .production__description {
    width: 88%;
    font-size: 15px;
    line-height: 30px;
    margin: 25px 6% 35px 6.15%;
  }

  .production__cart {
    width: 87.5%;
  }
}

@media (min-width: $desktop-width) {
  .production {
    max-width: 1150px;
  }

  .production__wrapper {
    margin: 0 50px 104px 50px;
    padding: 0;
    padding-left: 680px;
    min-height: 455px;
  }

  .production__header {
    margin: 35px 80px 29px 80px;
    flex-direction: column;
    align-items: flex-start;
  }

  .production__icon-video {
    width: 32px;
    height: 33px;
    margin-bottom: 21px;
    margin-left: 2px;
  }

  .production__title {
    width: 50%;
    margin: 0;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 682px;
  }

  .production__image {
    width: 682px;
    height: 453px;
  }

  .production__description {
    width: 230px;
    margin: 4px 80px;
  }

  .production__cart {
    width: 230px;
    margin: 41px 81px 38px 81px;
  }
}
