.reviews {
  width: 100%;
}

.reviews__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 9.3%;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;
}

.reviews__wrapper::after {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat;
  background-size: contain;
  background-position: 0 0;
}

.reviews__title {
  @include h2_style;
  margin: 57px 0 22px 0;
}

.reviews__item {
  @include zero_offset;
}

.reviews__text {
  @include zero_offset;
  line-height: 31px;
  margin-bottom: 24px;

  br {
    display: none;
  }
}

.reviews__author-name {
  display: block;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  color: $text-black;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.reviews__button {
  display: flex;
  justify-content: center;
  margin: 32px auto 36px auto;
}

.reviews__prev,
.reviews__next {
  margin: auto;
  width: 50%;
  padding: 11px 0;
  border: 1px solid #ececec;
  background-color: $bg-white;

  svg {
    width: 50px;
    height: 26px;
    fill: #000000;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
  }

  &:hover svg,
  &:focus svg {
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.reviews__write {
  width: auto;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reviews {
    box-sizing: border-box;
    margin: 35px auto;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    background-repeat: no-repeat;
    background-position: left 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    padding: 74px 6.4% 48px 6.4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .reviews__wrapper::after {
    height: 15px;
    background-position: 20px 0;
  }

  .reviews__title {
    order: -2;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .reviews__write {
    order: -1;
    width: 176px;
    margin: 0;
    margin-top: 3px;
  }

  .reviews__item {
    margin: 45px 0 80px 0;
    padding: 0;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 59px;
  }

  .reviews__author-name {
    font-size: 18px;
  }

  .reviews__author-email {
    font-size: 18px;
    line-height: 35px;
  }

  .reviews__button {
    width: 175px;
    position: absolute;
    right: 6.3%;
    bottom: 132px;

    @include zero-offset;
  }

  .reviews__prev,
  .reviews__next {
    margin: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    max-width: 1150px;
    background-position: 50px 0;
  }

  .reviews__wrapper {
    padding: 67px 50px 100px 50px;
    padding-left: 225px;
  }

  .reviews__wrapper::after {
    height: 23px;
    width: 1050px;
    margin: 0 50px;
    bottom: -3px;
    background-size: 1050px 100%;
    background-position: 25px 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -4px;
  }

  .reviews__write {
    margin-top: 12px;
  }

  .reviews__item {
    margin-top: 44px;
    margin-right: 100px;
  }

  .reviews__text {
    margin-bottom: 39px;

    br {
      display: inline-block;
    }
  }

  .reviews__author-name,
  .reviews__author-email {
    font-size: 17px;
  }

  .reviews__button {
    right: 50px;
    bottom: 183px;
  }
}
