.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.reviews__title {
  @include h2_style;
  margin: 60px 0 30px 30px;
}

.reviews__item {
  @include zero_offset;
  padding: 0 30px;
}

.reviews__text {
  @include zero_offset;
  margin-bottom: 38px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  color: $text-black;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.reviews__button {
  display: flex;
  justify-content: center;
  margin: 34px 30px;
}

.reviews__prev,
.reviews__next {
  margin: auto;
  width: 130px;
  height: 52px;
  background: none;
}

.reviews__write {
  margin: 45px auto;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
    box-sizing: border-box;
    margin: 50px auto;
    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    background-repeat: no-repeat;
    background-position: left 0;
  }

  .reviews__wrapper {
    width: auto;
    position: relative;
    padding: 80px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .reviews__title {
    order: -2;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .reviews__write {
    order: -1;
    width: 175px;
    margin: 0;
  }

  .reviews__item {
    margin: 40px 0 0 0;
    padding: 0;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  .reviews__author-name {
    display: block;
    font-size: 18px;
  }

  .reviews__author-email {
    font-size: 18px;
  }

  .reviews__button {
    position: absolute;

    @include zero-offset;
    right: 50px;
    bottom: 80px;
  }

  .reviews__prev,
  .reviews__next {
    width: 88px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    max-width: 1150px;
    background-position: 50px 0;
  }

  .reviews__wrapper {
    padding-left: 225px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__item {
    margin-right: 104px;
  }

  .reviews__text {
    margin-bottom: 40px;
  }
}
