body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-grey;
  font-style: normal;
  background-color: $bg-white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-black;
}
